.div-wrapper{
   width: 100%;
}
.middle-bottom{
    width: 768px;
    padding: 0px;

}
.col-main{
    width: 550px;
}
.product-essential{
    padding: 25px 25px 0px;
}
.product-img-box{
    width: 210px;
    float: left;
}
.product-image1{
    width: 72px;
    height: 52px;
}
.product-name{
    color: #cd5033;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size:18px;
    width: 281px;
    height: 45px;
    margin-bottom: 0.3cm;
    padding: 0px;
}
.product-shop{
    padding-left: 4px;
    width: 281px;
    color: #5c7989;
}
.product-info{
    width: 646px;
}
a{
    color: #1e7ec8;
    text-decoration: underline;
}
p{
    margin-bottom: 0.8px;
}
.availability{
    margin: 10px 0;
    padding: 0;
    font-size: 0.92em;
    color: #cd5033;
}
.regular-price{
    color: #3d6611;
}
.regular-price .price{
    font-weight: bold;
    font-size: 13px;
    color: #ea511e;
}
.product-pricing{
    margin: 10px 0;
    padding: 4px 10px 4px 10px;
    background: url(product-pricing-bg.png) no-repeat top left;
    height: 80px;
    width: 270px;
    font-size: 14;
}
.product-pricing li{
    line-height: 1.4;
    background: url("small-arrow.png") no-repeat scroll 0px 7px transparent;
    padding: 2px 0px 2px 10px;
    color: rgb(59, 59, 59);
}
.form-button {
    float: right;
    background: url("add-cart-btn.jpg") no-repeat scroll left top transparent;
    width: 180px;
    height: 29px;
    border: medium none;
    margin-left: 13;
}

.qty-box{
    padding: 0px;
    font-size: 13px;
}
.quick-view {
    background: url("quick-bg.gif") repeat scroll left top transparent;
    padding: 20px 15px;
    border-top: 1px dotted rgb(51, 51, 51);
    border-bottom: 1px dotted rgb(51, 51, 51);
    margin-top: 20;
}
.input-text-qty {

    background: url("qty-bg.jpg") no-repeat scroll left top transparent;
    border: medium none;
    width: 35;
    height: 35;
    padding: 7px 7px 5px;
}

.quick-view h4{
    color: #ea511e;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0px;
}
.short-description{
    color: #656565;
    font-size: 13px;
}

.additional-box{
    float: right;
    width: 335px;
    margin-bottom: 5px;
}
.head-box{
    color: #ea511e;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 18px;
    border-top: 2px solid #6d6d6d;
    border-bottom: 1px solid #6d6d6d;
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.description-box .head{
    color: #ea511e;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 18px;
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000000 ;
}
.cart-head{
    margin: 0 1px;
    background: url(head-bg.png) no-repeat top left;
    padding: 2px 6px 0px;
}
.col-right{
    margin-right: 10px;
    margin-top: 10px;
    width: 178px;
}
.mini-cart{
    line-height: 1.8em;
    font-size: .95em;
    background: #fff url(content-colr-bg.gif) no-repeat 2px bottom;
    margin-bottom:0.3cm;

}
.minicart .cart-head{
    margin: 0 1px;
    background: url(head-bg.png) no-repeat top left;
    padding: 2px 6px 0px;
}
.mini-cart .content p {
    font-size: 12;
    margin: -22 10 0 15;

}

.mini-cart .cart-head h4{
    background: url(mycart-bg.png) no-repeat left 3px;
    color: #FFF;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 4px 0 1px 36px;
    margin-top: 0px;
}
.mini-cart .cart-head h4 a{
    color: white;
    text-decoration: none;
}
.product-collateral{
    padding: 25px;
    }
.collateral-box{
    display: block;
    margin: 0;
    padding: 0;
    }
.head-top{
    color: #ea511e;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 18px;
    border-top: 2px solid #6d6d6d;
    border-bottom: 1px solid #6d6d6d;
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.head-top h4{
    color: #e26703;
    font-size: 1.05em;
    line-height: 1.3em;
    }

.product-spec{
    margin-bottom: 5px;
    }
.spec-head{
    margin-bottom: 1em;
    padding-bottom: 1px;
    font-size: 1.15em;
    text-align: left;
    line-height: 1.25cm;
    }
.spec-head h4{
    color: #e26703;
    margin: 0;
    float: left;
    line-height: 1.3em;
    font-family: Helvetica;
    font-size: 14px;
    }
.spec-content{
    margin: 0;
    padding: 0;
    display: block;
    text-align: left;
    font: 12px/1.55em arial,helvetica,sans-serif;
    margin-top: 50px;
    }
.product-additional{
    margin-bottom: 5px;
    width: 300px;
    }
.attribute-spec{}
.data-table{
    font-size: 13px;
    border: none;
    border-collapse: separate;
    border-spacing: 2px;
    }
tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    }
tr.even{
    background: #f8f8f8!important;
    }
.label1{
    color: #3a3939;
    padding-left: 20px;
    width: 150px;
    border-left: 1px solid #D9DDE3;
    }
.data1{
    width: 112px!important;
    padding-left: 36px!important;
    border-right: 1px solid #D9DDE3;
    padding-right: 20px;
    }
tr.odd{
    background: #ffffff!important;
    }
.top-table{
    background-color: #ffffff!important;
    }
.top-left{
    background: url(table-top-bg.gif) no-repeat top left!important;
    padding: 0px!important;
    line-height: 5px;
    }
.top-right{
    background: url(table-top-bg.gif) no-repeat top right!important;
    padding: 0px!important;
    line-height: 5px;
    }
.bottom-table{
    background-color: #ffffff!important;
    }
.bottom-left{
    background: url(table-bottom-bg.gif) no-repeat top left!important;
    line-height: 12px;
    border-top: none;
    }
.bottom-right{
    background: url(table-bottom-bg.gif) no-repeat top right!important;
    line-height: 12px;
}
.add-head{
    margin-bottom: 1em;
    padding-bottom: 1px;
    font-size: 1.15em;
    }
.add-head h4{
    color: #e26703;
    font-size: 15;
    font-family: arial;
    margin: 0;
    margin-bottom: 15px;
    }
.related{
    line-height: 1.3em;
    font-size: .95em;
    background: #fff url(content-colr-bg.gif) no-repeat 2px bottom;
    margin-bottom:0.3cm;
}
.related-head{
    margin: 0 1px;
    background: url(head-bg.png) no-repeat top left;
    padding: 2px 6px 0px;
}
.related-head h4{
    background: url(related-items-logo.png) no-repeat left 3px;
    color: #FFF;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 4px 0 1px 36px;
    margin-top: 0px;
}
.product-image .prdimg{
    border: 0.01px solid gray;
}
ol{
     display: block;
     list-style-type: none;
 }
.related .content{
    padding: 5px;
}
.price-box{
    height: 38px;
    line-height: 13px;
    padding: 0 0 0;
}

li{
    list-style: none;
}
.compare{
    line-height: 1.3em;
    font-size: .95em;
    background: #fff url(content-colr-bg.gif) no-repeat 2px bottom;
    margin-bottom:0.3cm;
}
.compare .head{
    margin: 0 1px;
    background: url(head-bg.png) no-repeat top left;
    padding: 2px 6px 0px;
}
.compare .head h4{
    background: url(compare-prod-bg.png) no-repeat left 3px;
    color: #FFF;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 4px 0 1px 36px;
    margin-top: 0px;
}
.compare .content{
    padding: 5px 10px 15px;
    font-size: 12px;
}
.compare .content p{
    color: #7a7a7a;
    text-align: center;
    margin-top: -10px;
}
.newsletter{
    line-height: 1.3em;
    font-size: .95em;
    background: #fff url(content-colr-bg.gif) no-repeat 2px bottom;
    margin-bottom:0.3cm;
}
.news-head{
    margin: 0 1px;
    background: url(head-bg.png) no-repeat top left;
    padding: 2px 6px 0px;
}
.news-head h4 {
    background: url("news-letter-bg.png") no-repeat scroll left 3px transparent;
    color: rgb(255, 255, 255);
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 14;
    overflow: hidden;
    padding: 4px 0px 5px 45px;
    margin-top: 0px;
}
.input-text{
    display: block;
    margin: 3px 0px;
    width: 153px;
    border: 1px solid rgb(182, 182, 182);
    font: 12px arial,helvetica,sans-serif;
}
form{
    display:inline;
}
button.form-button{
float: right;
    background: url("add-cart-btn.jpg") no-repeat scroll left top transparent;
    width: 180px;
    height: 29px;
    border: medium none;
    margin-left: 10px;
    margin-top: -35;
    margin-bottom: 15;
}
.form-button-alt{
    float: right;
    margin-top: 4px;
    background: url("subscribe-bg.gif") repeat-x scroll left top transparent;
    overflow: visible;
    width: auto;
    border: 0px none;
    padding: 2px 4px;
    color: rgb(255, 255, 255);
    font: bold 12px arial,sans-serif !important;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}
label{
    color: rgb(122, 122, 122);
    font-weight: bold;
    line-height: 1.3em;
    font-size: 0.9cm;
    padding: 0;
    font: 13px/1.55em arial,helvetica,sans-serif;
}
legend{
    display: none;
}
.valid-content{
    padding-bottom: 10px;
    padding-top: 5px;
    line-height: 1.3em;
    font-size: 0.95em;
}
.box-brands{
    margin-bottom: 1.3cm;
}
.box-brands a.brand{
    margin-bottom: 7px;
    display: block;
}

td.data1{
    color: rgb(58, 57, 57);
    padding-left: 20px;
    width: 150px;
    border-left: 1px solid rgb(217, 221, 227);
}
td.data2{
    width: 112px !important;
    padding-left: 36px !important;
    border-right: 1px solid rgb(217, 221, 227);
}
.related .content li{
    border-bottom: none!important;
    margin-left: -25px;
    margin-right: 0px;
}
.add-to-holder .add-to-cart-box {
    float: left;
    margin-bottom: 0px;
    border: none;
}
.add-to-holder{
    border:none;
}
tbody{
    margin: 0;
    padding: 0;
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.even{
    background: #f8f8f8!important;
}
.odd{
    background: #ffffff!important;
}
.label{
    color: #3a3939;
    padding-left: 20px;
    width: 150px;
    border-left: 1px solid #D9DDE3;
}
.info{
    width: 112px!important;
    padding-left: 36px!important;
    border-right: 1px solid #D9DDE3;
}
@media only screen and (min-width: 769px) {
    .col-right{
        float: right;
    }
    .col-main{
        float:left;
    }
    .middle-bottom{
        margin-left: auto;
        margin-right: auto;
    }
    .product-shop{
        float:right;
    }
    .product-essential{
        height:450px;
    }
    .product-image{
        float:left;
    }
    .product-spec{
        float:left;
        width:190px;
    }
    .product-additional{
        float:right;
    }
    .label1{
        color: #3a3939;
        padding-left: 20px;
        width: 150px;
        border-left: 1px solid #D9DDE3;
    }
    .data1{
        width: 112px!important;
        padding-left: 36px!important;
        border-right: 1px solid #D9DDE3;
        padding-right: 20px;
    }
}
@media only screen and (max-width: 768px) and (min-width: 641px){
    .col-right{
        margin-left: auto;
        margin-right: auto;
        margin-top: 700px;
    }
    .col-main{
        margin-bottom: 480px;
        margin-left: auto;
        margin-right: auto;
    }
    .middle-bottom{
        margin-left: auto;
        margin-right: auto;
    }
    .product-shop{
        float:right;
    }
    .product-essential{
        height:380px;
    }
    .product-image{
        float:left;
    }
    .product-spec{
        float:left;
        width:175px;
    }
    .product-additional{
        float:right;
    }
    .data-table{
        width: 335px;
    }
    .label1{
        color: #3a3939;
        padding-left: 20px;
        width: 130px;
        border-left: 1px solid #D9DDE3;
    }
    .data1{
        width: 100px!important;
        padding-left: 25px!important;
        border-right: 1px solid #D9DDE3;
        padding-right: 20px;
    }
}
@media only screen and (max-width: 640px) and (min-width: 481px){
    .product-essential{
        height:665px;
    }
    .product-image{
        width: 72px;
        height: 52px;
    }
    .middle-bottom{
        margin-left: 85px;
        margin-right: auto;
    }
    .product-shop{
        margin-top: 350px;
    }
    .col-right{
        margin-left: 135px;
    }
    .quick-view{
        width: 420px;
        margin-top: 80px;
    }
    .product-collateral{
        width: 400px;
    }
    .product-additional{
        margin-top:20px;
    }
    .data-table{
        width: 400px;
    }
    .label1{
        color: #3a3939;
        padding-left: 20px;
        width: 205px;
        border-left: 1px solid #D9DDE3;
    }
    .data1{
        width: 160px!important;
        padding-left: 36px!important;
        border-right: 1px solid #D9DDE3;
        padding-right: 20px;
    }
    .product-spec{
        width:400px;
    }
}
@media only screen and (max-width: 480px){
    .middle-bottom{
        margin-left: 60px;
    }
    .product-shop{
        margin-top: 350px;
    }
    .quick-view{
        width: 300px;
    }
    .product-collateral{
        width: 280px;
    }
    .product-additional{
        margin-top:20px;
    }
    .col-right{
        margin-left: 75px;
    }
    .data-table{
        width: 300px;
    }
    .label1{
        color: #3a3939;
        padding-left: 10px;
        width: 130px;
        border-left: 1px solid #D9DDE3;
    }
    .data1{
        width: 102px!important;
        padding-left: 20px!important;
        border-right: 1px solid #D9DDE3;
        padding-right: 10px;
    }
}
